@{
    ViewData["Title"] = "Import";
}

@model Settings

<div class="col-xs-12" style="height:110px;"></div>

<div>
    <h1>Import Character Stats</h1>
    <form method="post">
        <div class="col-md-3">
            <label>Primary Weapon</label>
            @Html.DropDownListFor(m => m.PrimaryWeapon, Settings.WeaponList, new { Class = "form-control select2" })
            <label>Secondary Weapon</label>
            @Html.DropDownListFor(m => m.SecondaryWeapon, Settings.WeaponList, new { Class = "form-control select2" })
            <label>Combat Power</label>
            @Html.TextBoxFor(m => m.CombatPower, new { Class = "form-control select2" })
            <label>Critical Chance</label>
            @Html.TextBoxFor(m => m.CriticalChance, new { Class = "form-control" })
            <label>Critical Power</label>
            @Html.TextBoxFor(m => m.CritPower, new { Class = "form-control" })
            <label>Basic Signet</label>
            @Html.TextBoxFor(m => m.BasicSignet, new { Class = "form-control" })
            <label>Power Signet</label>
            @Html.TextBoxFor(m => m.PowerSignet, new { Class = "form-control" })
            <label>Elite Signet</label>
            @Html.TextBoxFor(m => m.EliteSignet, new { Class = "form-control" })
        </div>
            <div class="col-md-9" style="margin-bottom: 10px">
                <label>Action Priority List</label>
                @Html.TextAreaFor(m => m.Apl, new { Class = "form-control" })
            </div>
            <div class="col-xs-12" style="height:40px;"></div>

            @Html.CheckBoxFor(m => m.OpeningShot)
            <label for="OpeningShot">Opening Shot every ~ 20 seconds.</label>
            <br>

            @Html.CheckBoxFor(m => m.Exposed)
            <label for="Exposed">Exposed with 100% uptime</label>
            <br>


            @Html.CheckBoxFor(m => m.HeadSignetIsCdr)
            <label for="HeadSignetIsCdr">Head signet is CDR</label>
            <br>

            <input type="submit" value="Start Simulation" class="btn btn-default waves-effect waves-light" />
            
    </form>
</div>