@{
    ViewData["Title"] = "Import";
}

@model Settings

<div class="col-xs-12" style="height:110px;"></div>
<div>

    <h1>Import Character Stats</h1>
    
    <div class="col-md-3" style="margin: 10px 0px 10px 0px">

        <form method="post">
            <h5><b>Primary Weapon</b></h5>
            @Html.DropDownListFor(m => m.PrimaryWeapon, Settings.WeaponList, new { Class = "form-control select2" })

            <h5><b>Secondary Weapon</b></h5>
            @Html.DropDownListFor(m => m.SecondaryWeapon, Settings.WeaponList, new { Class = "form-control select2" })

            <label>Combat Power</label>
            @Html.TextBoxFor(m => m.CombatPower, new { Class = "form-control select2" })
            <label>Critical Chance</label>
            @Html.TextBoxFor(m => m.CriticalChance, new { Class = "form-control" })
            <label>Critical Power</label>
            @Html.TextBoxFor(m => m.CritPower, new { Class = "form-control" })
            <label>Basic Signet</label>
             @Html.TextBoxFor(m => m.BasicSignet, new { Class = "form-control" })
            <label>Power Signet</label>
            @Html.TextBoxFor(m => m.PowerSignet, new { Class = "form-control" })
            <label>Elite Signet</label>
            @Html.TextBoxFor(m => m.EliteSignet, new { Class = "form-control" })

            <div class="col-xs-12" style="height:15px;"/>
            <input type="submit" class="btn btn-default waves-effect waves-light"/>
        </form>
    </div>

    <div class="col-md-8">
        <div class="col-xs-12" style="height:21px;"></div>
        <label>Action Priority List</label>
        <textarea v-model="form.apl" class="form-control" rows="10">
        </textarea>
        <div class="col-xs-12" style="height:8px;"></div>
        <input id="checkbox0" type="checkbox" checked>
        <label for="checkbox0">Opening Shot every ~ 20 seconds.</label>
        <br>
        <input id="checkbox0" type="checkbox" checked>
        <label for="checkbox0">Exposed with 100% uptime</label>
        <br>
        <input id="checkbox0" type="checkbox">
        <label for="checkbox0">Head signet is CDR</label>
    </div>
</div>